{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Logout{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="center-container">
        <h1 class="text-outline">Logout</h1>
        <p class="text-outline">You have been logged out.</p> 
        <a href="{% url 'login' %}">Login again</a>.
    </div>
</body>
</html>
